.cards {
  background-color: var(--white);
}

.card {
  border: 1px solid var(--grey-2);
  border-radius: 0.75rem;
}

.truncate-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
