@if (!isProviderLoading()) {
  <section class="collections-content flex flex-column flex-1 pt-0 xl:pt-5">
    <div
      class="collections-sub-header flex justify-content-between flex-column gap-4 mb-4 sm:mb-6 sm:gap-0 sm:flex-row"
    >
      <div class="flex gap-3">
        <i class="collections-icon text-white osf-icon-collections"></i>
        <h1 class="flex align-items-center text-white">{{ collectionProvider()?.name }}</h1>
      </div>
    </div>

    <div class="content-container flex-1">
      <!--      <p-accordion-->
      <!--        expandIcon="none"-->
      <!--        collapseIcon="none"-->
      <!--        [value]="stepperActiveValue()"-->
      <!--        class="collections-accordion flex flex-column gap-5"-->
      <!--      >-->
      <!--        <p-accordion-panel-->
      <!--          (click)="handleChooseSelectedProjectStep()"-->
      <!--          class="p-4"-->
      <!--          [value]="AddToCollectionSteps.SelectProject"-->
      <!--        >-->
      <!--          <p-accordion-header>-->
      <!--            <div class="flex flex-column gap-2">-->
      <!--              <h3>{{ 'collections.addToCollection.selectProject' | translate }}</h3>-->
      <!--              @if (selectedProject() && !isSelectProjectPanelActive()) {-->
      <!--                <p class="font-normal">-->
      <!--                  {{ 'collections.addToCollection.project' | translate }}:-->
      <!--                  <span class="font-bold">{{ selectedProject()?.title }}</span>-->
      <!--                </p>-->
      <!--              }-->
      <!--            </div>-->
      <!--          </p-accordion-header>-->
      <!--          <p-accordion-content>-->
      <!--            <div class="pt-4 w-6">-->
      <!--              <p-select-->
      <!--                class="w-full"-->
      <!--                [loading]="isAdminProjectsLoading()"-->
      <!--                [options]="adminProjectsOptions()"-->
      <!--                [filter]="true"-->
      <!--                (onFilter)="handleFilterSearch($event)"-->
      <!--                optionLabel="label"-->
      <!--                optionValue="value"-->
      <!--                [appendTo]="'body'"-->
      <!--                [ngModel]="selectedProject()"-->
      <!--                [emptyFilterMessage]="filterMessage()"-->
      <!--                [emptyMessage]="filterMessage()"-->
      <!--                (onChange)="handleProjectChange($event)"-->
      <!--                [placeholder]="'common.buttons.select' | translate"-->
      <!--              >-->
      <!--                <ng-template #selectedItem let-selectedOption>-->
      <!--                  {{ selectedOption.label | translate }}-->
      <!--                </ng-template>-->
      <!--              </p-select>-->
      <!--            </div>-->
      <!--          </p-accordion-content>-->
      <!--        </p-accordion-panel>-->

      <!--        <p-accordion-panel-->
      <!--          class="p-4"-->
      <!--          (click)="stepperActiveValue.set(AddToCollectionSteps.ProjectMetadata)"-->
      <!--          [value]="AddToCollectionSteps.ProjectMetadata"-->
      <!--        >-->
      <!--          <p-accordion-header>-->
      <!--            <h3>{{ 'collections.addToCollection.projectMetadata' | translate }}</h3>-->
      <!--          </p-accordion-header>-->
      <!--          <p-accordion-content>-->
      <!--            <p class="pt-3">{{ 'collections.addToCollection.projectMetadataMessage' | translate }}</p>-->
      <!--            <form [formGroup]="projectMetadataForm" class="flex flex-column gap-4 pt-4">-->
      <!--              <div class="flex flex-column">-->
      <!--                <label for="title">-->
      <!--                  {{ 'collections.addToCollection.form.title' | translate }}-->
      <!--                </label>-->
      <!--                <input pInputText id="title" type="text" [formControlName]="ProjectMetadataFormControls.Title" />-->
      <!--              </div>-->

      <!--              <div class="flex flex-column">-->
      <!--                <label for="description">-->
      <!--                  {{ 'collections.addToCollection.form.description' | translate }}-->
      <!--                </label>-->
      <!--                <textarea-->
      <!--                  pTextarea-->
      <!--                  id="description"-->
      <!--                  [formControlName]="ProjectMetadataFormControls.Description"-->
      <!--                  [rows]="5"-->
      <!--                ></textarea>-->
      <!--              </div>-->

      <!--              <div class="flex flex-column">-->
      <!--                <label for="license">-->
      <!--                  {{ 'collections.addToCollection.form.license' | translate }}-->
      <!--                </label>-->
      <!--                <p-select-->
      <!--                  [placeholder]="'collections.addToCollection.form.licensePlaceholder' | translate"-->
      <!--                  id="license"-->
      <!--                  [options]="[]"-->
      <!--                  [formControlName]="ProjectMetadataFormControls.License"-->
      <!--                ></p-select>-->
      <!--              </div>-->

      <!--              <div class="flex flex-column">-->
      <!--                <label for="tags">-->
      <!--                  {{ 'collections.addToCollection.form.tags' | translate }}-->
      <!--                </label>-->
      <!--                <input-->
      <!--                  [placeholder]="'collections.addToCollection.form.tagsPlaceholder' | translate"-->
      <!--                  pInputText-->
      <!--                  id="tags"-->
      <!--                  type="text"-->
      <!--                  [formControlName]="ProjectMetadataFormControls.Tags"-->
      <!--                />-->
      <!--              </div>-->

      <!--              <div class="flex justify-content-end gap-3">-->
      <!--                <p-button severity="info" [label]="'common.buttons.discardChanges' | translate" />-->
      <!--                <p-button [label]="'common.buttons.saveAndContinue' | translate" [disabled]="true" />-->
      <!--              </div>-->
      <!--            </form>-->
      <!--          </p-accordion-content>-->
      <!--        </p-accordion-panel>-->

      <!--        <p-accordion-panel class="p-4" [value]="AddToCollectionSteps.ProjectContributors">-->
      <!--          <p-accordion-header>-->
      <!--            <h3>{{ 'collections.addToCollection.projectContributors' | translate }}</h3>-->
      <!--          </p-accordion-header>-->
      <!--          <p-accordion-content>-->
      <!--            <div class="pt-2 w-6"></div>-->
      <!--          </p-accordion-content>-->
      <!--        </p-accordion-panel>-->

      <!--        <p-accordion-panel class="p-4" [value]="AddToCollectionSteps.CollectionMetadata">-->
      <!--          <p-accordion-header>-->
      <!--            <h3>{{ 'collections.addToCollection.collectionMetadata' | translate }}</h3>-->
      <!--          </p-accordion-header>-->
      <!--          <p-accordion-content>-->
      <!--            <div class="pt-2 w-6"></div>-->
      <!--          </p-accordion-content>-->
      <!--        </p-accordion-panel>-->
      <!--      </p-accordion>-->
      @if (!this.isAdminProjectsLoading()) {
        <p-stepper class="collection-stepper flex flex-column gap-5" [value]="stepperActiveValue()">
          <p-step-item class="p-4" [value]="AddToCollectionSteps.SelectProject">
            <p-step>
              <div class="flex flex-column gap-4 w-full">
                <h3>{{ 'collections.addToCollection.selectProject' | translate }}</h3>
                @if (selectedProject() && stepperActiveValue() !== AddToCollectionSteps.SelectProject) {
                  <p class="font-normal">
                    {{ 'collections.addToCollection.project' | translate }}:
                    <span class="font-bold">{{ selectedProject()?.title }}</span>
                  </p>
                  <p-button
                    (click)="handleChooseSelectedProjectStep()"
                    severity="secondary"
                    [label]="'common.buttons.clickToEdit' | translate"
                  ></p-button>
                }
              </div>
            </p-step>
            <p-step-panel class="p-0">
              <ng-template class="m-0" #content>
                <div class="pt-4 w-6">
                  <p-select
                    class="w-full"
                    [loading]="isAdminProjectsLoading()"
                    [options]="adminProjectsOptions()"
                    [filter]="true"
                    (onFilter)="handleFilterSearch($event)"
                    optionLabel="label"
                    optionValue="value"
                    [appendTo]="'body'"
                    [emptyFilterMessage]="filterMessage()"
                    [emptyMessage]="filterMessage()"
                    (onChange)="handleProjectChange($event)"
                    [placeholder]="'common.buttons.select' | translate"
                  >
                    <ng-template #selectedItem let-selectedOption>
                      {{ selectedOption.label | translate }}
                    </ng-template>
                  </p-select>
                </div>
              </ng-template>
            </p-step-panel>
          </p-step-item>

          <p-step-item class="p-4" [value]="AddToCollectionSteps.ProjectMetadata">
            <p-step [disabled]="!selectedProject()">
              <div class="flex flex-column gap-4 w-full">
                <h3>{{ 'collections.addToCollection.projectMetadata' | translate }}</h3>
                @if (selectedProject() && stepperActiveValue() !== AddToCollectionSteps.ProjectMetadata) {
                  <div>
                    <h3>{{ 'collections.addToCollection.form.title' | translate }}</h3>
                    <p class="mt-3">{{ selectedProject()?.title }}</p>
                  </div>
                  <div>
                    <h3>{{ 'collections.addToCollection.form.description' | translate }}</h3>
                    <p class="mt-3">{{ selectedProject()?.description }}</p>
                  </div>
                  <div>
                    <h3>{{ 'collections.addToCollection.form.license' | translate }}</h3>
                    <p class="mt-3">{{ selectedProject()?.description }}</p>
                  </div>
                  <div>
                    <h3>{{ 'collections.addToCollection.form.tags' | translate }}</h3>
                    <div class="flex mt-3 gap-2">
                      @for (tag of projectTags(); track tag) {
                        <p-chip>{{ tag }}</p-chip>
                      }
                    </div>
                  </div>
                }
              </div>
            </p-step>

            <p-step-panel class="p-0">
              <ng-template class="m-0" #content>
                <p class="pt-3">{{ 'collections.addToCollection.projectMetadataMessage' | translate }}</p>
                <form [formGroup]="projectMetadataForm" class="flex flex-column gap-4 pt-4">
                  <div class="flex flex-column gap-1">
                    <label for="title">
                      {{ 'collections.addToCollection.form.title' | translate }}
                    </label>
                    <input pInputText id="title" type="text" [formControlName]="ProjectMetadataFormControls.Title" />
                  </div>

                  <div class="flex flex-column gap-1">
                    <label for="description">
                      {{ 'collections.addToCollection.form.description' | translate }}
                    </label>
                    <textarea
                      pTextarea
                      id="description"
                      [formControlName]="ProjectMetadataFormControls.Description"
                      [rows]="5"
                    ></textarea>
                  </div>

                  <div class="flex flex-column gap-1">
                    <label for="license">
                      {{ 'collections.addToCollection.form.chooseLicense' | translate }}
                    </label>
                    <!--                    <p-select-->
                    <!--                      [placeholder]="'collections.addToCollection.form.licensePlaceholder' | translate"-->
                    <!--                      id="license"-->
                    <!--                      [options]="[]"-->
                    <!--                      [formControlName]="ProjectMetadataFormControls.License"-->
                    <!--                    ></p-select>-->
                    <osf-license id="license" [licenses]="collectionLicenses()" />
                  </div>

                  <div class="flex flex-column gap-1">
                    <label for="tags">
                      {{ 'collections.addToCollection.form.tags' | translate }}
                    </label>
                    <osf-tags-input [tags]="projectTags()" (tagsChanged)="handleTagsChange($event)" id="tags" />
                  </div>

                  <div class="flex justify-content-end gap-3">
                    <p-button
                      (click)="handleDiscardProjectMetadataFormChanges()"
                      severity="info"
                      [label]="'common.buttons.discardChanges' | translate"
                    />
                    <p-button [label]="'common.buttons.saveAndContinue' | translate" [disabled]="true" />
                  </div>
                </form>
              </ng-template>
            </p-step-panel>
          </p-step-item>

          <p-step-item class="p-4" [value]="AddToCollectionSteps.ProjectContributors">
            <p-step>
              <h3>{{ 'collections.addToCollection.projectContributors' | translate }}</h3>
            </p-step>
            <p-step-panel class="p-0">
              <ng-template class="m-0" #content>
                <div class="pt-2 w-6"></div>
              </ng-template>
            </p-step-panel>
          </p-step-item>

          <p-step-item class="p-4" [value]="AddToCollectionSteps.CollectionMetadata">
            <p-step>
              <h3>{{ 'collections.addToCollection.collectionMetadata' | translate }}</h3>
            </p-step>
            <p-step-panel class="p-0">
              <ng-template class="m-0" #content let-activateCallback="activateCallback">
                <div class="pt-2 w-6"></div>
              </ng-template>
            </p-step-panel>
          </p-step-item>
        </p-stepper>
      }

      <div class="flex justify-content-end gap-3 mt-4">
        <p-button severity="info" [label]="'common.buttons.cancel' | translate" [routerLink]="['../']" />
        <p-button [label]="'common.buttons.addToCollection' | translate" [disabled]="true" />
      </div>
    </div>
  </section>
} @else {
  <osf-loading-spinner />
}
