@use "assets/styles/mixins" as mix;
@use "assets/styles/variables" as var;

:host {
  flex: 1;
  @include mix.flex-column;

  .stepper-container {
    background-color: var.$white;
    flex: 1;

    button {
      width: 100%;
    }
  }

  .filename-link {
    cursor: pointer;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
    max-width: 100%;

    &:hover {
      text-decoration: underline;
    }
  }
}
