<osf-sub-header
  [showButton]="false"
  [title]="'settings.notifications.header.title' | translate"
  [icon]="'settings'"
/>

<section class="flex flex-column xl:p-4 md:p-3 p-2 bg-white flex-1 gap-4">
  <section class="notification-item flex flex-column gap-4">
    <h2>{{ "settings.notifications.email-preferences.title" | translate }}</h2>

    <div class="flex flex-column gap-3">
      <div class="flex gap-2">
        <p-checkbox inputId="v1"> </p-checkbox>

        <div class="flex flex-column gap-1">
          <label for="v1" class="mb-0 font-bold notification-item-label">
            {{
              "settings.notifications.email-preferences.items.general.title"
                | translate
            }}
          </label>

          <div class="notification-item-description">
            {{
              "settings.notifications.email-preferences.items.general.description"
                | translate
            }}
          </div>
        </div>
      </div>

      <div class="flex gap-2">
        <p-checkbox inputId="v2"> </p-checkbox>

        <div class="flex flex-column gap-1">
          <label for="v2" class="mb-0 font-bold notification-item-label">
            {{
              "settings.notifications.email-preferences.items.help.title"
                | translate
            }}
          </label>

          <div class="notification-item-description">
            {{
              "settings.notifications.email-preferences.items.help.description"
                | translate
            }}
          </div>
        </div>
      </div>

      <div class="flex justify-content-end">
        <p-button
          [disabled]="true"
          [label]="
            'settings.notifications.email-preferences.save-button' | translate
          "
          size="large"
        >
        </p-button>
      </div>
    </div>
  </section>

  <section class="notification-item flex flex-column gap-4">
    <h2>
      {{ "settings.notifications.notification-preferences.title" | translate }}
    </h2>

    <div>
      {{ "settings.notifications.notification-preferences.note" | translate }}
    </div>

    <section class="notification-configuration">
      <div>
        {{
          "settings.notifications.notification-preferences.items.replies"
            | translate
        }}
      </div>
      <p-dropdown class="dropdown"> </p-dropdown>

      <div>
        {{
          "settings.notifications.notification-preferences.items.comments"
            | translate
        }}
      </div>
      <p-dropdown class="dropdown"> </p-dropdown>

      <div>
        {{
          "settings.notifications.notification-preferences.items.files"
            | translate
        }}
      </div>
      <p-dropdown class="dropdown"> </p-dropdown>

      <div>
        {{
          "settings.notifications.notification-preferences.items.mentions"
            | translate
        }}
      </div>
      <p-dropdown class="dropdown"> </p-dropdown>

      <div>
        {{
          "settings.notifications.notification-preferences.items.preprints"
            | translate
        }}
      </div>
      <p-dropdown class="dropdown"> </p-dropdown>
    </section>
  </section>
</section>
