<section class="account-setting">
  <h2 class="account-setting-header">Affiliated institutions</h2>

  <div class="account-setting-description">
    Affiliated Institutions connect your OSF account to your institution or organization. Affiliated institutions can be
    removed from your profile.
  </div>

  @for (institution of institutions(); track institution.id) {
    <div class="account-setting-content">
      <div class="account-setting-email--readonly">
        <div class="account-setting-email--readonly--address">{{ institution.name }}</div>
        <i
          class="osf-icon-close"
          tabindex="0"
          (click)="deleteInstitution(institution.id)"
          (keydown.enter)="deleteInstitution(institution.id)"
        >
        </i>
      </div>
    </div>
  }
</section>
