.result-count {
  color: var(--pr-blue-1);
}

.tab-btn {
  --p-button-link-color: var(--dark-blue-1);
  --p-button-padding-x: 1.5rem;
  --p-button-padding-y: 0.5rem;

  &.active {
    background-color: var(--white);
  }
}

.sort-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 44px;
  border: 1px solid var(--grey-2);
  border-radius: 12px;
  padding: 0 1.5rem;
  cursor: pointer;
}

.card-selected {
  background: var(--bg-blue-2);
}
