<section class="content-container" [class.mobile]="isXSmall()">
  <p>
    {{ "settings.developer-apps.list.description" | translate }}
  </p>

  <section class="applications-container">
    @for (developerApp of developerApplications(); track $index) {
      <p-card>
        <section class="card-body" [class.mobile]="isXSmall()">
          <a [routerLink]="[developerApp.id, 'details']">
            <h2>{{ developerApp.appName }}</h2>
          </a>
          <section class="button-container">
            <p-button
              class="btn-full-width"
              label="Delete"
              severity="danger"
              (onClick)="deleteApp(developerApp)"
            />
          </section>
        </section>
      </p-card>
    }
  </section>
</section>
