@use "assets/styles/variables" as var;
@use "assets/styles/mixins" as mix;

.content-container {
  padding: 1.7rem;
  color: var.$dark-blue-1;
  background-color: var.$white;

  p {
    margin-bottom: 1.7rem;
  }

  .applications-container {
    @include mix.flex-column;
    gap: 0.85rem;

    p-card {
      .card-body {
        &.mobile {
          @include mix.flex-column;

          a {
            align-self: flex-start;
          }

          .button-container {
            align-self: flex-end;
            width: 50%;
          }
        }

        &:not(.mobile) {
          @include mix.flex-center-between;
        }
      }
    }
  }
}
