<div class="xl:mt-6 xl:pt-6">
  <div class="mt-5 mx-3 md:mx-4">
    <osf-search-input
      [control]="searchControl"
      [showHelpIcon]="true"
      [placeholder]="'collections.searchInput.placeholder' | translate"
      (helpClicked)="showTutorial()"
    />
  </div>

  <div class="flex flex-column flex-1 w-full pt-6">
    <p-tabs [value]="selectedTab" (valueChange)="onTabChange(+$event)" class="flex-1 px-3 hidden md:px-5 md:inline">
      <p-tablist>
        @for (item of resourceTabOptions; track $index) {
          <p-tab [value]="item.value">{{ item.label | translate }}</p-tab>
        }
      </p-tablist>
    </p-tabs>

    <div class="py-4 px-3 md:px-5 xl:px-4 bg-white">
      <osf-search-results-container
        [resources]="resources()"
        [searchCount]="resourcesCount()"
        [selectedSort]="selectedSort()"
        [selectedTab]="resourceType()"
        [selectedValues]="selectedValues()"
        [first]="first()"
        [prev]="previous()"
        [next]="next()"
        [isFiltersOpen]="isFiltersOpen()"
        [isSortingOpen]="isSortingOpen()"
        (sortChanged)="onSortChanged($event)"
        (tabChanged)="onTabChange(+$event)"
        (pageChanged)="onPageChanged($event)"
        (filtersToggled)="onFiltersToggled()"
        (sortingToggled)="onSortingToggled()"
      >
        <div slot="filter-chips">
          <osf-filter-chips
            [selectedValues]="selectedValues()"
            [filterLabels]="filterLabels()"
            [filterOptions]="filterOptions()"
            (filterRemoved)="onFilterChipRemoved($event)"
            (allFiltersCleared)="onAllFiltersCleared()"
          />
        </div>

        <div slot="filters">
          <osf-reusable-filters
            [filters]="filters()"
            [selectedValues]="selectedValues()"
            [filterSearchResults]="filterSearchResults()"
            [isLoading]="isResourcesLoading()"
            [showEmptyState]="true"
            (loadFilterOptions)="onLoadFilterOptions($event)"
            (filterValueChanged)="onFilterChanged($event)"
            (filterSearchChanged)="onFilterSearchChanged($event)"
            (loadMoreFilterOptions)="onLoadMoreFilterOptions($event)"
          />
        </div>

        <div slot="mobile-filters">
          <osf-reusable-filters
            [filters]="filters()"
            [selectedValues]="selectedValues()"
            [filterSearchResults]="filterSearchResults()"
            [isLoading]="isResourcesLoading()"
            [showEmptyState]="true"
            (loadFilterOptions)="onLoadFilterOptions($event)"
            (filterValueChanged)="onFilterChanged($event)"
            (filterSearchChanged)="onFilterSearchChanged($event)"
            (loadMoreFilterOptions)="onLoadMoreFilterOptions($event)"
          />
        </div>
      </osf-search-results-container>

      <osf-search-help-tutorial [(currentStep)]="currentStep"></osf-search-help-tutorial>
    </div>
  </div>
</div>
