<div class="flex align-items-center justify-content-between gap-3">
  <p-button
    link
    class="link-btn-no-padding"
    styleClass="text-left"
    [label]="submission().collectionTitle"
    [routerLink]="['/collections', submission().collectionId]"
  ></p-button>

  @if (showSubmissionButton()) {
    <p-button
      severity="secondary"
      [label]="submissionButtonLabel() | translate"
      [routerLink]="['/collections', submission().collectionId, submission().id, 'edit']"
    />
  }
</div>

<div>
  @let status = submission().reviewsState;

  @switch (status) {
    @case (CollectionSubmissionReviewState.Accepted) {
      <p-tag class="capitalize" [value]="status" severity="success"></p-tag>
    }
    @case (CollectionSubmissionReviewState.Rejected) {
      <p-tag class="capitalize" [value]="status" severity="danger"></p-tag>
    }
    @case (CollectionSubmissionReviewState.Pending) {
      <p-tag class="capitalize" [value]="status" severity="warn"></p-tag>
    }
    @case (CollectionSubmissionReviewState.InProgress) {
      <p-tag class="capitalize" [value]="status" severity="warn"></p-tag>
    }
    @case (CollectionSubmissionReviewState.Removed) {
      <p-tag class="capitalize" [value]="status" severity="secondary"></p-tag>
    }
  }
</div>

@if (showAttributes()) {
  <div class="flex flex-column gap-2 mt-2">
    @for (attribute of attributes(); track attribute.key) {
      <p class="font-normal">
        <span class="font-bold">{{ attribute.label }}:</span> {{ attribute.value }}
      </p>
    }
  </div>
}
