@use "styles/mixins" as mix;

:host {
  @include mix.flex-center;
  flex: 1;
  background: var(--gradient-3);
}

.container {
  position: relative;
  color: var(--dark-blue-1);
  max-width: mix.rem(448px);
}
