<osf-admin-table
  [tableColumns]="tableColumns"
  [tableData]="tableData()"
  [isLoading]="isLoading()"
  [isNextPreviousPagination]="true"
  [paginationLinks]="projectsLinks()"
  (sortChanged)="onSortChange($event)"
  (linkPageChanged)="onLinkPageChange($event)"
  (downloadClicked)="download($event)"
  (iconClicked)="onIconClick($event)"
  [reportsLink]="institution()!.linkToExternalReportsArchive"
>
  <div slot="amount" class="flex items-center">
    <h3 class="title">{{ totalCount() }} {{ 'adminInstitutions.projects.totalProjects' | translate }}</h3>
  </div>
</osf-admin-table>
