:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.home-container {
  max-width: 100%;
}

.w-100 {
  width: 100% !important;
}

.w-20 {
  width: 20% !important;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.quick-search-container {
  background-color: var(--white);

  .text-center {
    color: var(--dark-blue-1);
  }
}

.public-projects-container {
  background-color: var(--gradient-1);
}

.latest-research-container {
  background-color: var(--bg-blue-3);
}

.hosting-container {
  background-color: var(--bg-blue-2);
}

.col {
  flex-direction: column;
}
