<section class="content-container" [class.mobile]="isXSmall()">
  <nav class="navigation-bar-container">
    <a routerLink="/settings/developer-apps">
      <i class="osf-icon-arrow-left inline"></i>
      {{ "settings.developer-apps.details.navigation.back" | translate }}
    </a>
  </nav>

  @if (developerApp()) {
    <section class="title-container" [class.mobile]="isXSmall()">
      <h1>{{ developerApp()?.name }}</h1>
      <p-button
        [label]="'settings.developer-apps.list.delete-button' | translate"
        [class.btn-full-width]="isXSmall()"
        severity="danger"
        (click)="deleteApp()"
      />
    </section>

    <section class="cards-container" [class.mobile]="isXSmall()">
      <p-card>
        <section class="card-body">
          <h2>
            {{ "settings.developer-apps.details.client-id.title" | translate }}
          </h2>

          <p>
            {{
              "settings.developer-apps.details.client-id.description"
                | translate
            }}
          </p>

          <div class="inline-block relative">
            <span
              class="copy-notification"
              [class.visible]="clientIdCopiedNotificationVisible()"
            >
              {{ "settings.developer-apps.messages.copied" | translate }}
            </span>
            <p-iconfield iconPosition="right">
              <input type="text" pInputText readonly [value]="clientId()" />
              <p-inputicon
                [cdkCopyToClipboard]="clientId()"
                (cdkCopyToClipboardCopied)="clientIdCopiedToClipboard()"
              >
                <i class="osf-icon-copy"></i>
              </p-inputicon>
            </p-iconfield>
          </div>
        </section>
      </p-card>

      <p-card>
        <section class="card-body">
          <h2>
            {{
              "settings.developer-apps.details.client-secret.title" | translate
            }}
          </h2>

          <p>
            {{
              "settings.developer-apps.details.client-secret.description"
                | translate
            }}
          </p>

          <section class="client-secret-container" [class.mobile]="isXSmall()">
            <div class="relative">
              <span
                class="copy-notification"
                [class.visible]="clientSecretCopiedNotificationVisible()"
              >
                {{ "settings.developer-apps.messages.copied" | translate }}
              </span>
              <p-iconfield iconPosition="right">
                <input
                  pInputText
                  [value]="
                    isClientSecretVisible()
                      ? clientSecret()
                      : hiddenClientSecret()
                  "
                  readonly
                />
                <p-inputicon
                  [cdkCopyToClipboard]="clientSecret()"
                  (cdkCopyToClipboardCopied)="clientSecretCopiedToClipboard()"
                >
                  <i class="osf-icon-copy"></i>
                </p-inputicon>
              </p-iconfield>
            </div>

            <p-button
              [label]="
                isClientSecretVisible()
                  ? ('settings.developer-apps.details.client-secret.hide'
                    | translate)
                  : ('settings.developer-apps.details.client-secret.show'
                    | translate)
              "
              severity="secondary"
              (click)="isClientSecretVisible.set(!isClientSecretVisible())"
            />
          </section>

          <section class="card-actions">
            <p-button
              [label]="
                'settings.developer-apps.details.client-secret.reset-secret'
                  | translate
              "
              [class.btn-half-width]="isXSmall()"
              (click)="resetClientSecret()"
            />
          </section>
        </section>
      </p-card>

      <p-card>
        <section class="card-body">
          <h2>{{ "settings.developer-apps.form.edit-title" | translate }}</h2>
          <osf-developer-app-add-edit-form
            [isEditMode]="true"
            [initialValues]="developerApp()!"
          />
        </section>
      </p-card>
    </section>
  }
</section>
