@use "/assets/styles/variables" as var;
@use "assets/styles/mixins" as mix;

.icon-container {
  color: var.$dark-blue-1;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;

  &:hover {
    text-decoration: none;
    color: var.$pr-blue-1;
  }
}
