@use "/assets/styles/variables" as var;

.desktop {
  margin-top: 4.5rem;
}

.wiki,
.component,
.linked-project,
.activities {
  border: 1px solid var.$grey-2;
  border-radius: 12px;
  color: var.$dark-blue-1;

  &-description {
    line-height: 24px;
  }
}

.overview-icon {
  font-size: 1.5rem;
}

.storage {
  color: var.$pr-blue-1;
  font-size: 1.7rem;
}

.component {
  &-container {
    overflow-y: auto;
    max-height: 21rem;
  }

  &-wrapper {
    border: 1px solid var.$grey-2;
    border-radius: 12px;
  }

  &-title {
    color: var.$dark-blue-1;
  }
}

.linked-project {
  &-container {
    overflow-y: auto;
    max-height: 21rem;
  }

  &-wrapper {
    border: 1px solid var.$grey-2;
    border-radius: 12px;
  }

  &-title {
    color: var.$dark-blue-1;
  }
}

.activities {
  &-activity {
    height: 35px;
    border-bottom: 1px solid var.$grey-2;
  }
}

.left-section {
  flex: 3;
}

.right-section {
  flex: 1;
  border: 1px solid var.$grey-2;
  border-radius: 12px;
}

.metadata {
  color: var.$dark-blue-1;
}

.inactive {
  color: var.$grey-1;
}
