@let project = currentProject();

@if (!isProjectLoading() && project) {
  <div class="flex justify-content-between">
    <osf-sub-header [title]="project.title" />
  </div>

  <div class="pl-5 pb-5 pr-4 flex align-items-center justify-content-between">
    <div class="flex gap-3 align-items-start">
      <div class="flex gap-1" [class.inactive]="isPublic()">
        <i class="osf-icon-padlock"></i>
        <p class="font-bold">{{ 'project.overview.header.privateProject' | translate }}</p>
      </div>

      <p-toggleswitch [ngModel]="isPublic()" (onChange)="handleToggleProjectPublicity()" />

      <div class="flex gap-2" [class.inactive]="!isPublic()">
        <i class="osf-icon-padlock-unlock"></i>
        <p class="font-bold">{{ 'project.overview.header.publicProject' | translate }}</p>
      </div>
    </div>

    <div class="flex gap-2">
      @if (project.storage) {
        <p class="align-self-center font-bold mr-2 storage">{{ project.storage.storageUsage }} KB</p>
      }

      <p-button
        [pTooltip]="'project.overview.tooltips.viewOnlyLinks' | translate"
        tooltipPosition="bottom"
        [routerLink]="['/my-projects', project.id, 'settings']"
      >
        <span>{{ project.viewOnlyLinksCount }}</span>
        <i class="osf-icon-link overview-icon"></i>
      </p-button>

      <p-button
        (click)="forkActionMenu.toggle($event)"
        [pTooltip]="'project.overview.tooltips.duplicate' | translate"
        tooltipPosition="bottom"
      >
        <span>{{ project.forksCount }}</span>
        <i class="osf-icon-duplicate overview-icon"></i>
        <p-menu appendTo="body" #forkActionMenu [model]="forkActionItems" popup>
          <ng-template #item let-item>
            <a class="p-menu-item-link">
              {{ item.label | translate }}
            </a>
          </ng-template>
        </p-menu>
      </p-button>

      <p-button
        [pTooltip]="'project.overview.tooltips.bookmarks' | translate"
        tooltipPosition="bottom"
        class="bookmark-btn"
        (onClick)="toggleBookmark()"
        [loading]="isBookmarksLoading() || isBookmarksSubmitting()"
      >
        @if (!isBookmarksLoading() && !isBookmarksSubmitting()) {
          <i class="overview-icon" [ngClass]="isBookmarked() ? 'osf-icon-bookmark-fill' : 'osf-icon-bookmark'"></i>
        }
      </p-button>

      <p-button
        (click)="socialsActionMenu.toggle($event)"
        [pTooltip]="'project.overview.tooltips.share' | translate"
        tooltipPosition="bottom"
      >
        <span>{{ socialsActionItems.length }}</span>
        <i class="osf-icon-share overview-icon"></i>
        <p-menu appendTo="body" #socialsActionMenu [model]="socialsActionItems" popup>
          <ng-template #item let-item>
            <a class="p-menu-item-link">
              <img height="15" width="15" [ngSrc]="'assets/icons/socials/' + item.icon + '.svg'" alt="social-icon" />
              {{ item.label | translate }}
            </a>
          </ng-template>
        </p-menu>
      </p-button>
    </div>
  </div>

  <div class="lg:flex-row flex md:flex-column sm:flex-column gap-4 bg-white h-full p-4">
    <div class="flex flex-column gap-4 left-section">
      <div class="wiki flex flex-column p-4 gap-4">
        <h2>{{ 'project.overview.wiki.title' | translate }}</h2>
        @if (isWikiLoading()) {
          <p-skeleton width="100%" height="5rem" />
        } @else {
          @if (wikiContent()) {
            <osf-truncated-text [text]="wikiContent()" />
          } @else {
            <div [innerHtml]="'project.overview.wiki.noWikiMessage' | translate"></div>
          }
        }
      </div>

      <div class="component flex flex-column p-2 pb-4 gap-4">
        <div class="flex align-items-center pt-3 pl-3 pr-3 justify-content-between">
          <h2>{{ 'project.overview.components.title' | translate }}</h2>

          <p-button
            (onClick)="handleAddComponent()"
            severity="secondary"
            [label]="'project.overview.components.addComponentButton' | translate"
          />
        </div>

        <div class="component-container pl-3 pr-3 flex flex-column gap-5">
          @if (isComponentsLoading()) {
            <p-skeleton width="100%" height="7rem" />
          } @else {
            @if (components().length) {
              @for (component of components(); track component.id) {
                <div class="component-wrapper flex flex-column p-3 gap-3">
                  <div class="flex justify-content-between align-items-center">
                    <h2 class="flex gap-2">
                      <i [ngClass]="component.public ? 'osf-icon-padlock-unlock' : 'osf-icon-padlock'"></i>
                      <a class="component-title" [href]="'my-projects/' + component.id">{{ component.title }}</a>
                    </h2>
                    <div>
                      <p-button class="btn-icon" (click)="componentActionMenu.toggle($event)">
                        <i class="osf-icon-dots"></i>
                      </p-button>

                      <p-menu appendTo="body" #componentActionMenu [model]="componentActionItems(component.id)" popup>
                        <ng-template #item let-item>
                          <a class="p-menu-item-link">{{ item.label | translate }}</a>
                        </ng-template>
                      </p-menu>
                    </div>
                  </div>

                  <div class="component-name flex flex-column gap-2">
                    @for (contributor of component.contributors; track contributor.id) {
                      <div>
                        <a class="font-bold"> {{ contributor.fullName }}</a>
                        <span>{{ $last ? '' : ',' }}</span>
                      </div>
                    }

                    <div class="component-description">
                      <osf-truncated-text [text]="component.description" />
                    </div>
                  </div>
                </div>
              }
            } @else {
              <div [innerHtml]="'project.overview.components.noComponentsMessage' | translate"></div>
            }
          }
        </div>
      </div>

      <div class="linked-project flex flex-column p-2 pb-4 gap-4">
        <div class="flex align-items-center pt-3 pl-3 pr-3 justify-content-between">
          <h2>{{ 'project.overview.linkedProjects.title' | translate }}</h2>
          <p-button severity="secondary" [label]="'project.overview.components.linkProjectsButton' | translate" />
        </div>
        <div class="linked-project-container pl-3 pr-3 flex flex-column gap-5">
          @if (isLinkedProjectsLoading()) {
            <p-skeleton width="100%" height="7rem" />
          } @else {
            @if (linkedProjects().length) {
              @for (linkedProject of linkedProjects(); track linkedProject.id) {
                <div class="linked-project-wrapper flex flex-column p-3 gap-3">
                  <div class="flex justify-content-between align-items-center">
                    <h2 class="flex gap-2">
                      <i [ngClass]="linkedProject.public ? 'osf-icon-padlock-unlock' : 'osf-icon-padlock'"></i>
                      <a class="linked-project-title" [href]="'my-projects/' + linkedProject.id">{{
                        linkedProject.title
                      }}</a>
                    </h2>
                    <div>
                      <p-button class="btn-icon" (click)="componentActionMenu.toggle($event)">
                        <i class="osf-icon-dots"></i>
                      </p-button>

                      <p-menu
                        appendTo="body"
                        #componentActionMenu
                        [model]="componentActionItems(linkedProject.id)"
                        popup
                      >
                        <ng-template #item let-item>
                          <a class="p-menu-item-link">{{ item.label | translate }}</a>
                        </ng-template>
                      </p-menu>
                    </div>
                  </div>

                  <div class="component-name flex flex-column gap-2">
                    @for (contributor of linkedProject.contributors; track contributor.id) {
                      <div>
                        <a class="font-bold"> {{ contributor.fullName }}</a>
                        <span>{{ $last ? '' : ',' }}</span>
                      </div>
                    }
                    <div class="component-description">
                      <osf-truncated-text [text]="linkedProject.description" />
                    </div>
                  </div>
                </div>
              }
            } @else {
              <div [innerHtml]="'project.overview.linkedProjects.noLinkedProjectsMessage' | translate"></div>
            }
          }
        </div>
      </div>

      <div class="activities p-4 flex flex-column gap-3">
        <h2>{{ 'project.overview.recentActivity.title' | translate }}</h2>

        <div class="activities-activity flex justify-content-between align-items-center">
          <div>
            <a class="font-bold">Jeremy Wolfe</a> removed <a class="font-bold">tag example</a> from
            <a class="font-bold">Project name example</a>
          </div>

          <div>Feb 5, 2025 04:37 AM</div>
        </div>

        <div class="activities-activity flex justify-content-between align-items-center">
          <div>
            <a class="font-bold">Jeremy Wolfe</a> removed <a class="font-bold">tag example</a> from
            <a class="font-bold">Project name example</a>
          </div>

          <div>Feb 5, 2025 04:37 AM</div>
        </div>

        <div class="activities-activity flex justify-content-between align-items-center">
          <div>
            <a class="font-bold">Jeremy Wolfe</a> removed <a class="font-bold">tag example</a> from
            <a class="font-bold">Project name example</a>
          </div>

          <div>Feb 5, 2025 04:37 AM</div>
        </div>
      </div>
    </div>

    <div class="flex flex-column right-section p-4">
      <div class="metadata flex flex-column gap-5">
        <div class="metadata-header flex align-items-center justify-content-between">
          <h2>{{ 'project.overview.metadata.title' | translate }}</h2>

          <p-button
            [routerLink]="'../metadata'"
            severity="secondary"
            [label]="'project.overview.metadata.editButton' | translate"
          ></p-button>
        </div>

        <div class="flex flex-column gap-2">
          <h3>{{ 'project.overview.metadata.contributors' | translate }}</h3>

          <div class="flex gap-1 line-height-2">
            @for (contributor of project.contributors; track contributor.id) {
              <div>
                <a class="font-bold"> {{ contributor.fullName }}</a>
                <span>{{ $last ? '' : ',' }}</span>
              </div>
            }
          </div>
        </div>

        <div class="flex flex-column gap-2">
          <h3>{{ 'project.overview.metadata.description' | translate }}</h3>

          <osf-truncated-text
            [maxVisibleLines]="3"
            [text]="project.description ? project.description : ('project.overview.metadata.noDescription' | translate)"
          />
        </div>

        <div class="flex flex-column gap-2">
          <h3>{{ 'project.overview.metadata.supplements' | translate }}</h3>

          @if (project.supplements?.length) {
            @for (supplement of project.supplements; track supplement.id) {
              <p>
                {{ 'project.overview.metadata.supplementsText1' | translate }}
                <a class="font-bold" target="_blank" href="{{ supplement.url }}">{{
                  supplement.title + ', ' + (supplement.dateCreated | date: 'MMMM d, y')
                }}</a>
                {{ 'project.overview.metadata.supplementsText2' | translate }}
              </p>
            }
          } @else {
            <p>{{ 'project.overview.metadata.noSupplements' | translate }}</p>
          }
        </div>

        <div class="flex gap-4 lg:gap-2 lg:justify-content-between">
          <div class="flex flex-column gap-2">
            <h3>{{ 'project.overview.metadata.dateCreated' | translate }}</h3>
            <p>{{ project.dateCreated | date: 'MMM d, y, h:mm a' }}</p>
          </div>

          <div class="flex flex-column gap-2">
            <h3>{{ 'project.overview.metadata.dateUpdated' | translate }}</h3>
            <p>{{ project.dateModified | date: 'MMM d, y, h:mm a' }}</p>
          </div>
        </div>

        <div class="flex flex-column gap-2">
          <h3>{{ 'project.overview.metadata.licence' | translate }}</h3>

          <div>{{ project.license?.name ?? ('project.overview.metadata.noLicense' | translate) }}</div>
        </div>

        <div class="flex flex-column gap-2">
          <h3>{{ 'project.overview.metadata.publication' | translate }}</h3>

          @if (project.identifiers?.length) {
            @for (identifier of project.identifiers; track identifier.id) {
              @if (identifier.category === 'doi') {
                <p>
                  {{ identifier.value }}
                </p>
              }
            }
          } @else {
            <p>{{ 'project.overview.metadata.noPublicationDoi' | translate }}</p>
          }
        </div>

        <div class="flex flex-column gap-2">
          <h3>{{ 'project.overview.metadata.affiliatedInstitutions' | translate }}</h3>

          <div class="flex gap-2">
            @if (project.affiliatedInstitutions?.length) {
              @for (institution of project.affiliatedInstitutions; track institution.id) {
                <img alt="institution logo" [src]="institution.logo" height="45" />
              }
            } @else {
              <p>{{ 'project.overview.metadata.noAffiliatedInstitutions' | translate }}</p>
            }
          </div>
        </div>

        <div class="flex flex-column gap-2">
          <h3>{{ 'project.overview.metadata.subjects' | translate }}</h3>

          <div class="flex gap-2">
            @if (project.subjects.length) {
              @for (subject of project.subjects; track subject.id) {
                <p-tag [value]="subject.text" severity="info" />
              }
            } @else {
              <p>{{ 'project.overview.metadata.noSubjects' | translate }}</p>
            }
          </div>
        </div>

        <div class="flex flex-column gap-2">
          <h3>{{ 'project.overview.metadata.tags' | translate }}</h3>

          @if (project.tags.length) {
            <div class="flex gap-2">
              @for (tag of project.tags; track tag) {
                <p-tag [value]="tag" severity="info" />
              }
            </div>
          } @else {
            <p>{{ 'project.overview.metadata.noTags' | translate }}</p>
          }
        </div>
      </div>
    </div>
  </div>
} @else {
  <osf-loading-spinner />
}
