<section class="py-5 px-3 flex flex-column bg-white gap-4 md:py-6 md:px-4">
  <h2 class="text-2xl">Advisory Group</h2>

  <p>Our advisory group includes leaders in preprints and scholarly communication.</p>

  <ul class="line-height-3 ml-4">
    <li class="list-disc"><strong>Devin Berg</strong> : engrXiv, University of Wisconsin-Stout</li>
    <li class="list-disc"><strong>Pete Binfield</strong> : PeerJ PrePrints</li>
    <li class="list-disc"><strong>Benjamin Brown</strong> : PsyArXiv, Georgia Gwinnett College</li>
    <li class="list-disc"><strong>Philip Cohen</strong> : SocArXiv, University of Maryland</li>
    <li class="list-disc"><strong>Kathleen Fitzpatrick</strong> : Modern Language Association</li>
    <li class="list-disc"><strong>John Inglis</strong> : bioRxiv, Cold Spring Harbor Laboratory Press</li>
    <li class="list-disc"><strong>Rebecca Kennison</strong> : K | N Consultants</li>
    <li class="list-disc"><strong>Kristen Ratan</strong> : CoKo Foundation</li>
    <li class="list-disc"><strong>Oya Rieger</strong> : Ithaka S+R</li>
    <li class="list-disc"><strong>Judy Ruttenberg</strong> : SHARE, Association of Research Libraries</li>
  </ul>
</section>
