<osf-registry-provider-hero
  [searchControl]="searchControl"
  [provider]="provider()"
  [isProviderLoading]="isProviderLoading()"
></osf-registry-provider-hero>

<osf-search-results-container
  [resources]="resources()"
  [searchCount]="resourcesCount()"
  [selectedSort]="selectedSort()"
  [selectedTab]="resourceType()"
  [selectedValues]="selectedValues()"
  [first]="first()"
  [prev]="previous()"
  [next]="next()"
  (sortChanged)="onSortChanged($event)"
  (pageChanged)="onPageChanged($event)"
>
  <div slot="filter-chips">
    <osf-filter-chips
      [selectedValues]="selectedValues()"
      [filterLabels]="filterLabels()"
      [filterOptions]="filterOptions()"
      (filterRemoved)="onFilterChipRemoved($event)"
      (allFiltersCleared)="onAllFiltersCleared()"
    />
  </div>

  <ng-template #filtersComponent>
    <osf-reusable-filters
      [filters]="filters()"
      [selectedValues]="selectedValues()"
      [isLoading]="isResourcesLoading()"
      [showEmptyState]="true"
      (loadFilterOptions)="onLoadFilterOptions($event)"
      (filterValueChanged)="onFilterChanged($event)"
    />
  </ng-template>
</osf-search-results-container>

<osf-search-help-tutorial [(currentStep)]="currentStep"></osf-search-help-tutorial>
