.tos-banner {
  padding: 10px 20px;
  margin-bottom: 0;
  text-align: center;

  a {
    color: #004080; // dark link color
    text-decoration: underline;
  }

  label {
    font-weight: normal;
    margin-bottom: 0;
  }
}

.tos-inner {
  @apply tw-bg-yellow-50 tw-border tw-border-yellow-200 tw-rounded-md tw-p-4;
}

.p-message-warn {
  background: color-mix(in srgb, #fefce8,transparent 5%);
  outline-color: #fef08a;
  color: #ca8a04;
  box-shadow: 0px 4px 8px 0px color-mix(in srgb, #eab308,transparent 96%);
}
