@if (!acceptedTermsOfServiceChange()) {
  <div class="bg-white pb-4 pt-4">
    <div
      class="tw-w-full p-message-warn tw-rounded-md tw-space-y-3"
      style="padding: 1.5rem 1.5rem 0.5rem 1.5rem; margin: 1rem; border-radius: 10px"
    >
      <div class="tw-flex tw-items-center tw-gap-2">
        <i class="pi pi-exclamation-triangle tw-text-yellow-600"></i>
        <span class="tw-font-medium">
          {{ 'toast.tos-consent.paragraphPath1' | translate }}
          <a href="{{ 'toast.tos-consent.termsOfUseUrl' | translate }}" target="_blank">{{ 'toast.tos-consent.paragraphPath2' | translate }}</a>
          {{ 'toast.tos-consent.paragraphPath3' | translate }}<a href="{{ 'toast.tos-consent.privacyPolicyUrl' | translate }}" target="_blank">
          {{ 'toast.tos-consent.paragraphPath4' | translate }}</a> </span>
      </div>
      <div>
        <div class="flex flex-column gap-3 border-round-md">
          <div class="flex align-items-center justify-content-between mt-2">
            <div class="flex align-items-center gap-2">
              <p-checkbox
                [ngModel]="acceptedTermsOfService()"
                (ngModelChange)="acceptedTermsOfService.set($event)"
                binary="true"
                id="terms"
                inputId="terms"
                name="terms">
              </p-checkbox>
              <label for="terms" class="text-color">
                {{ 'toast.tos-consent.haveReadAndAgree' | translate }}
              </label>
            </div>

            <p-button
              link
              label="{{ 'toast.tos-consent.continue' | translate }}"
              class="text-color"
              [disabled]="!acceptedTermsOfService()"
              (click)="onContinue()">
            </p-button>
          </div>
        </div>
      </div>
    </div>
  </div>
}
