<section
  class="home-container"
  [class.tablet]="isMedium()"
  [class.mobile]="isMobile()"
>
  <osf-sub-header
    [showButton]="true"
    [title]="'home.logged-in.dashboard.title' | translate"
    [icon]="'home'"
    [buttonLabel]="'home.logged-in.dashboard.create-project' | translate"
    (buttonClick)="createProject()"
  />

  <div class="quick-search-container">
    <p class="text-center">
      {{ "home.logged-in.dashboard.quick-search.go-to" | translate }}
      <a routerLink="/my-projects">
        {{ "home.logged-in.dashboard.quick-search.my-projects" | translate }}
      </a>
      {{ "home.logged-in.dashboard.quick-search.to-organize" | translate }}
      <a routerLink="/search">
        {{ "home.logged-in.dashboard.quick-search.search" | translate }}
      </a>
      {{ "home.logged-in.dashboard.quick-search.osf" | translate }}
    </p>

    <osf-my-projects-table
      [items]="filteredProjects()"
      [tableParams]="tableParams()"
      [searchValue]="searchValue()"
      [sortColumn]="sortColumn()"
      [sortOrder]="sortOrder()"
      [isLoading]="isLoading()"
      [searchPlaceholder]="
        'home.logged-in.dashboard.quick-search.search-placeholder' | translate
      "
      (searchValueChange)="onSearchChange($event)"
      (pageChange)="onPageChange($event)"
      (sort)="onSort($event)"
      (itemClick)="navigateToProject($event)"
    />
  </div>

  <div class="public-projects-container">
    <i class="osf-icon-search"></i>
    <div class="title-container">
      <h1>{{ "home.logged-in.public-projects.title" | translate }}</h1>
    </div>
  </div>

  <div class="latest-research-container">
    <div class="content">
      <div class="text-container">
        <h1>{{ "home.logged-in.latest-research.title" | translate }}</h1>
        <h2>{{ "home.logged-in.latest-research.subtitle" | translate }}</h2>
      </div>
      <p-button
        [label]="'home.logged-in.latest-research.button' | translate"
        severity="success"
      />
    </div>
  </div>

  <div class="hosting-container">
    <div class="content">
      <div class="text-container">
        <h1>{{ "home.logged-in.hosting.title" | translate }}</h1>
        <h2>{{ "home.logged-in.hosting.subtitle" | translate }}</h2>
      </div>
      <p-button
        [label]="'home.logged-in.hosting.button' | translate"
        severity="success"
      />
    </div>
  </div>
</section>
