@use "assets/styles/mixins" as mix;
@use "assets/styles/variables" as var;

a {
  font-weight: 700;
}

.subheader {
  color: var.$dark-blue-1;

  .provider-description {
    line-height: 24px;
  }
}

.blue-dark-gradient {
  background: url("/assets/images/dark-blue-gradient.png") center;
}
