@if (this.shouldShowBanner()) {
  <div [style.background-color]="this.currentBanner()?.color" class="scheduled-banner-container">
    <a [href]="this.currentBanner()?.link" target="_blank" rel="noopener noreferrer">
      @if (this.isMobile()) {
        <img
          class="img-responsive"
          [src]="this.currentBanner()?.mobilePhoto"
          [alt]="this.currentBanner()?.mobileAltText"
        />
      } @else {
        <img
          class="img-responsive"
          [src]="this.currentBanner()?.defaultPhoto"
          [alt]="this.currentBanner()?.defaultAltText"
        />
      }
    </a>
  </div>
}
