@if (this.displayBanner()) {
  <div class="p-3" @fadeInOut>
    <div class="p-message">
      <div class="grid flex-row p-message-content">
        <div class="col">{{ 'toast.cookie-consent.message' | translate }}</div>
        <div class="col-fixed flex justify-content-end">
          <p-button
            type="button"
            label="{{ 'toast.cookie-consent.accept' | translate }}"
            (click)="acceptCookies()"
          ></p-button>
        </div>
      </div>
    </div>
  </div>
}
