@use "styles/mixins" as mix;

.cookie-consent-container {
  padding: 1rem !important;
  display: block !important;

  .p-message {
    background-color: var(--yellow-2);
    color: var(--yellow-1);

    width: 100%;
    border-radius: var(--p-message-border-radius, 6px);

    .p-message-content {
      display: flex;
      padding: var(--p-message-content-padding, 1.5rem);
      gap: var(--p-message-content-gap, 0.5rem);
      height: 100%;

      .p-message-text {
        font-weight: bold;
        align-items: center;
      }

      .p-message-button {
        align-items: end;
      }
    }
  }
}
