@use "assets/styles/variables" as var;

.p-iconfield {
  display: inline-block;

  .p-inputtext {
    width: inherit !important;
  }

  .p-inputicon {
    cursor: pointer;
    color: var.$dark-blue-1;

    i {
      font-size: 1.2rem;
    }
  }
}
