@use "../variables" as var;

.p-menu-item-content {
  a {
    color: var.$dark-blue-2;
  }

  a:hover {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
    background: var.$bg-blue-3;
  }
}

.p-menu {
  margin-top: 0.5rem;
  min-width: fit-content;
}
