<form
  [formGroup]="appForm"
  (ngSubmit)="handleSubmitForm()"
  class="flex flex-column gap-3"
>
  <div class="flex flex-column">
    <label for="app-name">
      {{ "settings.developer-apps.form.app-name" | translate }}
    </label>
    <input
      pInputText
      id="app-name"
      type="text"
      autocomplete="off"
      [formControlName]="DeveloperAppFormFormControls.AppName"
    />
  </div>

  <div class="flex flex-column">
    <label for="proj-homepage-url">
      {{ "settings.developer-apps.form.homepage-url" | translate }}
    </label>
    <input
      pInputText
      id="proj-homepage-url"
      type="url"
      autocomplete="off"
      [formControlName]="DeveloperAppFormFormControls.ProjectHomePageUrl"
    />
  </div>

  <div class="flex flex-column">
    <label for="app-descr">
      {{ "settings.developer-apps.form.description" | translate }}
    </label>
    <input
      pInputText
      id="app-descr"
      type="text"
      autocomplete="off"
      [formControlName]="DeveloperAppFormFormControls.AppDescription"
    />
  </div>

  <div class="flex flex-column">
    <label for="auth-callback-url">
      {{ "settings.developer-apps.form.callback-url" | translate }}
    </label>
    <input
      pInputText
      type="url"
      autocomplete="off"
      id="auth-callback-url"
      [formControlName]="DeveloperAppFormFormControls.AuthorizationCallbackUrl"
    />
  </div>

  <div class="flex justify-content-end gap-2">
    @if (isEditMode()) {
      <p-button
        [ngClass]="isMobile() ? 'btn-half-width' : 'w-10rem btn-full-width'"
        [label]="'settings.developer-apps.form.buttons.save' | translate"
        type="submit"
        [disabled]="!appForm.dirty || !appForm.valid"
      />
    } @else {
      <p-button
        class="w-12rem btn-full-width"
        [label]="'settings.developer-apps.form.buttons.cancel' | translate"
        severity="info"
        (click)="dialogRef.close()"
      />
      <p-button
        [label]="'settings.developer-apps.form.buttons.create' | translate"
        type="submit"
        [disabled]="!appForm.valid"
      />
    }
  </div>
</form>
